body {
    background-image: url(./Media/Backgroung-Image.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    margin: 0%;
}

.Logo-Principale {
    width: 20%;
}

h3 {
    text-align: center;
}

.Main {
    justify-content: space-evenly;
}

.Main-Section {
    background-color: gray;
    max-width: 30%;
    margin: 0% 1%;
}

.Main-Img {
    width: 100%;
    height: 50%;
    border-radius: 60%;
}

.Main-Article {
    margin: 2%;
    text-align: justify;
}

ul {
    list-style-type: none;
}

@media screen and (max-width: 667px) {

    .Logo-Principale {
        width: 35%;
    }

    h1 {
        text-align: center;
    }

    .Main {
        flex-direction: column;
        align-items: center;
    }

    .Main-Section {
        max-width: 90%;
    }
    
}